body {margin-top: 0%;
background-color: white;}
.container {padding: 10px;
    background-color: rgb(246, 246, 163);
    margin: auto;
    max-width: 90%;
}
ul,ol,li{list-style: none;}
.langue ul div{display: inline-block;}
progress{color: #0d8326;background-color: red; }

  
header {background-color: #0d8326;
  overflow: auto;
}
nav .info{margin-top: 0%;
 display: inline-block;
 padding-left: 20px;
}
.info li { font-size: large;
padding: 10px;}
.info li a {color: yellow;}

nav .nom {display:inline-block;
  margin:0% ;
font-size: xx-large;
}
.nom li{color: red;}
nav img { float:right; margin: 10px;clear:right;
    height: 200px; border-radius: 100px;
}
nav p {padding-left: 150px;margin-left: 150px;}
h2 { font-size: 1.5em;color: #0d8326;}
article h3 {font-size: 1em;color:red; }

.competence article p{display:inline-block;width: 40%;}
.competence section {float: right; clear:right;overflow: auto;}
.competence section h3,p{margin-top: 0%;margin-bottom: 8px;}

hr {border-color: red; background-color: red;}
.formation ul,ol{display: inline-block;}
.experience ul,ol{display: inline-block; }
.experience ol h5{margin: 0%;}
.experience ul li{padding-bottom: 20px;}
